.letterContainer {
    /* font-family: 'Times New Roman', Times, serif; */
    font-family: 'Courier New', Courier, monospace;
    font-weight: 900;
    display: inline-block;
    /* background-color: red; */
    font-size: 400px;
    /* font-weight: normal; */
    color: black;
    /* -webkit-text-stroke: 40px blue; */
    /* text-shadow: 100px 100px 1px green; */
    mix-blend-mode: hue;
    transform-origin: center center;
    /* transform: rotate(10deg); */
}
